* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.heder {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;
    margin-top: 60px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.link-wrapper {
    margin-right: 120px;
}



.link-active {
    color: #03a9f4;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}
.link {
    color: #626262;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}


.main {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 55px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.card {
    width: 420px;
    height: 480px;
}
.para {
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.h2 {
    color: #626262;
    font-family: "Playfair Display";
    margin-bottom: 45px;
}
.para-bottom {
    color: #626262;
    font-family: "Playfair Display";
}
.card-img {
    width: 420px;
    height: 280px;
    margin-right: 60px;
}
.card-img1 {
    width: 420px;
    height: 280px;
}

/* .card-img:first-child {
    margin-right: 60px;
}
.link-wrapper:last-child {
    margin-right: 0;
} */

.button-wrapper {
    display: flex;
    justify-content: center;
}
.button {
    font-family: "Playfair Display";
    color: #626262;
    border: black 1px solid;
    background-color: white;
    padding: 20px 30px;
    width: 140px;
    height: 60px;
    margin-bottom: 70px;
}

@media (max-width: 992px) {
    .main {
        margin-left: 70px;
        margin-right: 70px;
    }
    .card {
        margin-right: 30px;
        width: 40%;
    }
    .para {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .h2 {
        margin-bottom: 30px;
    }
    .card-wrapper {
        margin-bottom: 90px;
    }
    .heder {
        width: 100%;
        margin-right: 50px;
        margin-left: 50px;
    }
    .card-img {
        width: 380px;
        height: 240px;
    }
    .card-img1 {
        width: 380px;
        height: 240px;
    }
    .container {
        max-width: 992px;
    }
}  
@media (max-width: 767px) {
    
} 